{% extends 'base.html' %}
{% block content %}
<div class="container mt-4 bg-white-subtle">
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="apps-tab-pane" role="tabpanel" aria-labelledby="apps-tab" tabindex="0">Opportunities</div>
        <div class="tab-pane fade" id="apps-tab-pane" role="tabpanel" aria-labelledby="apps-tab" tabindex="0"></div>
        <div class="tab-pane fade" id="oa-tab-pane" role="tabpanel" aria-labelledby="oa-tab" tabindex="0">OAS</div>
        <div class="tab-pane fade" id="next-tab-pane" role="tabpanel" aria-labelledby="next-tab" tabindex="0">NEXT STEPS</div>
    </div>
</div>


<script>
    // apps_view script
    $(document).ready(function() {
        $('#apps-tab').on('click', function(e) {
            e.preventDefault();
            //var tabId = $(this).attr('div');
            var tabId = $('#apps-tab-pane')
            $.ajax({
                url: 'http://127.0.0.1:8000/apps',  // URL to your Django view
                type: 'GET',  // or 'POST' depending on your view
                success: function(response) {
                    //console.log(response.applications);
                    $.each(JSON.parse(response.applications), function(_, obj){
                        $(tabId).append("<p>" + obj.fields.company_name + "</p>")
                    })
                    //$(tabId).html(response.message);
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>

{% endblock %}
