<div class="container mt-4 bg-warning-subtle border border-warning-subtle">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active text-secondary" id="apps-tab" data-bs-toggle="tab" data-bs-target="#apps-tab-pane" type="button" role="tab" aria-controls="apps-tab-pane" aria-selected="true">Apps</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link text-secondary" id="oa-tab" data-bs-toggle="tab" data-bs-target="#oa-tab-pane" type="button" role="tab" aria-controls="oa-tab-pane" aria-selected="false">OAs</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link text-secondary" id="next-tab" data-bs-toggle="tab" data-bs-target="#next-tab-pane" type="button" role="tab" aria-controls="next-tab-pane" aria-selected="false">Next Steps</button>
        </li>
      </ul>
</div>